
      </div>
      <div class="docs-link-sections">
       <h3 id="install-guides">
        <i class="fa fa-cogs">
        </i>
        最热文档
       </h3>
       <p>
        点击量最高的文档
       </p>
       <a href="">
        这是一篇点击量最高的文档
       </a>
      </div>
     </div>
     <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="docs-link-sections">
       <h3 id="user-guides">
        <i class="fa fa-cloud">
        </i>
        最新留言
       </h3>
       <a href="">
        这是一个被留言的文档
       </a>
       <!-- <a href="/user-guide/UserGuide.pdf">
        [PDF]
       </a> -->
       <p>
        留言内容
       </p>
       <a href="">
        另一篇被留言的文档
       </a>
       <p>
        留言内容
       </p>
      </div>
     </div>
    </div>
    <div class="row docs-contribute-wrapper">
     <div class="col-lg-12">
      <p>
       文档内容托管在github上 - 感兴趣?
      </p>
      <a class="overview-btn contribute-btn" href="https://github.com/xiaotuanyu120/linux-Operation-and-maintenance-manual">
       前往文档内容github
       <i class="fa fa-chevron-right">
       </i>
      </a>
     </div>
    </div>
   </div>
  </div>