      </div>
     </div>
     <div class="row docs-byline bottom">
      <div class="docs-updated">
       updated: 2017-04-20 10:25
      </div>
     </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4 col-lg-pull-9 col-md-pull-8 col-sm-pull-8 docs-sidebar">
     <div class="btn-group docs-sidebar-releases">
      <button onclick="location.href='/{{ cat }}'" class="btn docs-sidebar-home" data-toggle="tooltip" data-placement="top" title="Docs Home">
       <i class="fa fa-arrow-circle-o-left">
       </i>
      </button>
      <button href="#" type="button" data-toggle="dropdown" class="btn docs-sidebar-release-select">
       Xiao5tech Docs
       <i class="fa fa-caret-down">
       </i>
      </button>
      <ul class="dropdown-menu docs-sidebar-dropdown" role="menu" aria-labelledby="dLabel">
       <li role="presentation" class="dropdown-header">
        完整文档分类
       </li>